{% extends "./plantilla.html" %}
{% block body %}
<h1>EDITAR DIRECTOR</h1>
<div class="container-fluid bg-light">
    <div class="row">
        <div class="col-md-12">
            <br>
            <!--El metodo post es mas seguro al transportar datos-->
            <form action="{% url 'procesarActualizacionDirector' %}" enctype="multipart/form-data" method="post">
                <!-- Para que no exista Hackeo -->
                {% csrf_token %}
                <input type="hidden" name="id" id="id" value="{{directorEditar.id}}">
                <label for="" style="color: rgb(0, 0, 0);"><b>Dni:</b></label>
                <input type="text" name="dni" class="form-control" value="{{directorEditar.dni}}"
                id="dni" placeholder="Ingrese el dni del dir de la pelicula">

                <label for="" style="color: rgb(0, 0, 0);"><b>Nombre:</b></label>
                <input type="text" name="nombre" class="form-control" value="{{directorEditar.nombre}}"
                id="nombre" placeholder="Ingrese el nombre del dir de la pelicula">
                
                <label for="" style="color: rgb(0, 0, 0);"><b>Apellido:</b></label>
                <input type="text" name="apellido" class="form-control" value="{{directorEditar.apellido}}"
                id="apellido" placeholder="Ingrese el apellido del dir de la pelicula">

                <label for="" style="color: rgb(0, 0, 0);"><b>Estado:</b></label>
                <select class="form-control" name="estado" id="estado">
                    <option value="True" {% if directorEditar.estado == True %}selected{% endif %}>ACTIVO</option>
                    <option value="False" {% if directorEditar.estado == False %}selected{% endif %}>INACTIVO</option>
                </select>

                <label for=""  style="color: rgb(0, 0, 0);"><b>Fotografia:</b></label>
                <input type="file" name="face" id="face" accept="image/*" class="form-control">
                {% if directorEditar.face %}
                    <img src="{{ directorEditar.face.url }}" alt="Fotografía actual" style="width: 100px; height: auto;">
                {% endif %}

                <br>
                <button type="submit" class="btn btn-primary">
                    Actualizar
                </button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="{% url 'listadoDirector' %}" class="btn btn-danger">Cancelar</a>
            </form>
            <br>
        </div>
    </div>
</div>
{% endblock %}