{% extends "./plantilla.html" %}
{% block body %}

<div class="container-fluid bg-light p-4" >
    <div class="row">
        <div class="col-md-12">
            <!--El metodo post es mas seguro al transportar datos-->
            <form action="{% url 'guardarDirector' %}" enctype="multipart/form-data" method="post">
                <!-- Para que no exista Hackeo -->
                {% csrf_token %}
                <label for="" style="color: rgb(0, 0, 0);"><b>Dni:</b></label>
                <input type="text" name="dni" class="form-control"
                id="dni" placeholder="Ingrese el dni del dir de la pelicula">

                <label for="" style="color: rgb(0, 0, 0);"><b>Nombre:</b></label>
                <input type="text" name="nombre" class="form-control"
                id="nombre" placeholder="Ingrese el nombre del dir de la pelicula">
                
                <label for="" style="color: rgb(0, 0, 0);"><b>Apellido:</b></label>
                <input type="text" name="apellido" class="form-control"
                id="apellido" placeholder="Ingrese el apellido del dir de la pelicula">

                <label for="" style="color: rgb(0, 0, 0);"><b>Estado:</b></label>
                <select class="form-control" name="estado" id="estado">
                    <option value="True" >ACTIVO</option>
                    <option value="False">INACTIVO</option>
                </select>

                <label for=""  style="color: rgb(0, 0, 0);"><b>Fotografia:</b></label>
                <input type="file" name="face" id="face" accept="image/*" required class="form-control">

                <br>
                <button type="submit" class="btn btn-primary">
                    Guardar
                </button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="{% url 'listadoDirector' %}" class="btn btn-danger">Cancelar</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}